.contacts {
  display: flex;
}

.contacts__item:not(:first-child) {
  margin-left: 50px;
}

.contacts__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts__link {
  @extend %flexCenter;
  color: $primary-color;
}

.contacts__link {
  transition: color $transition-function;

  &:hover,
  &:focus {
    color: $accent;
  }
}

.contacts__icon {
  margin-right: 10px;
  vertical-align: middle;
  fill: currentColor;
}