$primary-color: #757575;
$secondary-color: #212121;
$additional-color: #f5f4fa;
$contrast-color: #ffffff;
$contrast-base-color: #2f303a;
$button-color: #188ce8;
$icon-color: #afb1b8;
$accent: #2196f3;
$grid-gap: 30px;
$grid-raw-elements: 3;
$transition-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
